<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <mvc:annotation-driven/>
    <mvc:resources mapping="/resources/**" location="/resources/" />
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:/auth.properties"/>
    </bean>

    <bean id="authority" class="jcifs.smb.NtlmPasswordAuthentication">
        <constructor-arg value="${domain}"/>
        <constructor-arg value="${login}"/>
        <constructor-arg value="${password}"/>
    </bean>

    <bean id="smbFile" class="jcifs.smb.SmbFile">
        <constructor-arg value="${url}"/>
        <constructor-arg ref="authority"/>
    </bean>
    
    <bean id="sshService" class="ua.kossovec.service.ssh.SshServiceImpl">
        <constructor-arg name="domain" value="${domain}"/>
        <constructor-arg name="login" value="${login}"/>
        <constructor-arg name="password" value="${password}"/>
        <constructor-arg name="port" value="22"/>
        <constructor-arg name="timeOut" value="60000"/>
    </bean>
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="outlook.kyivstar.ua"/>
        <property name="port" value="25"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">false</prop>
                <prop key="mail.smtp.starttls.enable">false</prop>
                <prop key="mail.debug">false</prop>
            </props>
        </property>
    </bean>
    <bean id="preConfiguredMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="to" value="Konstantin.Malov@kyivstar.net,
                                   Andrey.Kozhanov@kyivstar.net,
                                   Alexey.Tochilo@kyivstar.net,
                                   Yaroslav.Butko@kyivstar.net"/>
        <property name="from" value="SCRIPT.SMD@kyivstar.net"></property>
        <property name="cc" value="Ivan.Kriskun@kyivstar.net"/>
        <property name="subject" value="Redefine statistic on OSS!!!"/>
    </bean>
    <bean id="datePrepare" class="ua.kossovec.service.DataPrepare">
    </bean>

    <bean id="name" class="java.lang.String">
        <constructor-arg value="KS_Hosts_List.csv"/>
    </bean>

    <context:component-scan base-package="ua.kossovec.dao"/>
    <context:component-scan base-package="ua.kossovec.service"/>
    <context:component-scan base-package="ua.kossovec.controller"/>
</beans>